@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}
/* header section */
.header{
  background-image: url(../images/banner/banner3.png);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}
.text-box{
  /* margin-top: 216px; */
  padding-top: 150px;
  margin-left: 845px;
  margin-right: 230px;
  /* margin-bottom: 364px; */
}
.text-box h1{
  color: #ffffff;
  margin-bottom: 20px;
}
.text-box p{
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 30px;
}
.text-box .btn-1{
 border: none;
 color: #005FAC;
 padding: 20px 25px;
 border-radius: 5px;
 font-weight: bold;
}
/* body 1 section- my faliures section styles */
.achievement-section{
  display: flex;
  margin-top: 100px ;
  margin-left: 100px ;
  gap: 100px;
}
ul li:before {
  content: '✓';
  color: #17dbd1;
  margin-right: 10px;
}
.details{
  margin-top: 300px;
  margin-right: 100px;
}
.details .list{
  list-style: none;
  color: #444343;
}
.failures-title{
margin-bottom: 25px;
}
.failures-description{
  margin-bottom: 20px;
  color: #444343;
}
/* my skills styles */
.skill-heading{
  margin-top: 130px;
  text-align: center;
}
.skill-box{
  display: flex;
  gap: 10px;
  margin-left: 230px;
}
.skill-title{
  padding: 50px;
}
.skill-title-heading{
  margin-top: 10px;
  margin-bottom: 10px;
}
/* image gradient styles */
.image-gradient{
  background-image: url(../images/gradient1.png);
  /* width: 100%;
  height: 100vh; */
  /* background-position: center; */
  background-size: cover;
  margin-left: 200px;
  margin-right: 200px;
  padding: 30px;
  margin-bottom: 100px;
  border-radius: 5px;
  /* position: absolute; */
}
.gradient-text-box{
 margin-top: 130px;
}
.gradient-text-box .gradient-title{
  color: #ffffff;
}
.gradient-text-box .btn-1{
 border: none;
 color: #005FAC;
 padding: 20px 25px;
 border-radius: 5px;
 font-weight: bold;
}
.button{
  margin-top: 10px;
}

/* footer section */
.footer{
  background: #151414;
  color: #F8F8F8;
  height: 300px;
  position: relative
}
.footer .footer-bottom{
  position: absolute;
  background:  #343a40;
  height: 20px;
  text-align: center;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  bottom: 0px;
  left: 0px;
  width: 98.5%;
}
.footer .footer-content{
  height: 258px;
  /* border: 1px solid red; */
  display: flex;
}
.footer .footer-content .footer-section{
  flex: 1;
  /* border: 1px solid #ffffff; */
}

.contact-title{
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 10px;
}
.contact-details{
  margin-left: 50px;
  font-size: 15px;
}
.contact-icon{
  margin-left: 50px;
}
.subscribe-header{
  margin-top: 50px;
  margin-left: 50px;
}
.email-class{
  margin-top: 20px ;
  margin-left: 50px;
  background: transparent;
  width: 30%;
  padding: 10px;
  color: #ffffff;
  border-radius: 3px;
}
.button-class{
  margin-top: 20px ;
  margin-left: 50px;
  
}
.button-class .button-text{
  padding: 10px;
  color: #ffffff;
  background-color: #005FAC;
  border-style: none;
  border-radius: 3px;
}